{% load static %}
{% get_static_prefix as static %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ static }}favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static }}favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ static }}favicon/favicon-16x16.png">
<link rel="manifest" href="{{ static }}favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#040814">
<meta name="theme-color" content="#040814">
<link rel="stylesheet" href="{{ static }}scss/icomoon.css">
<link rel="stylesheet" href="{{ static }}scss/bootstrap.min.css">
<link rel="stylesheet" href="{{ static }}scss/aos.css">
<link rel="stylesheet" href="{{ static }}scss/style.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167740584-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167740584-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8XJBR8');</script>
<!-- End Google Tag Manager -->
