{% load static %}
{% get_static_prefix as static %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ static }}favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static }}favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ static }}favicon/favicon-16x16.png">
<link rel="manifest" href="{{ static }}favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#040814">
<meta name="theme-color" content="#040814">
<link rel="stylesheet" href="{{ static }}scss/icomoon.css">
<link rel="stylesheet" href="{{ static }}scss/bootstrap.min.css">
<link rel="stylesheet" href="{{ static }}scss/aos.css">
<link rel="stylesheet" href="{{ static }}scss/style.css">
