{% load static %}
<div id="poster-modal" class="poster-modal" style="background-image:linear-gradient(#0D0A3899, #0D0A3899),
        url({% static 'images/poster.png' %});">
    <div class="poster-quote">
        <span class="poster-header">Happy 4th of July</span>
        <br>
        “If there is no struggle, there is no progress.”<br>
        — Frederick Douglass
    </div>
    <div class="poster-buttons">
        <a href="{% static 'downloadables/poster.mp4' %}" download="poster" class="btn poster-btn-generic poster-download-button">
            Click here to Download Poster
        </a>
        <button onclick="closeModal()" class="btn poster-btn-generic poster-close-button">
            Close
        </button>
    </div>
</div>
<script>
    window.onload = () => {
        let today = new Date(Date.now())
        let offsetInHours = today.getTimezoneOffset() / 60
        if (offsetInHours >= 0) {
            offsetInHours = `+${offsetInHours}`
        }
        let deadLine = new Date(`July 7, 2020 00:00:00 GMT${offsetInHours}:00`)
        let storage_value = localStorage.getItem('create_poster_modal_closing');


        if (today < deadLine && storage_value === null)
            document.querySelector('#poster-modal').classList.add('poster-active')
        else
            document.querySelector('#poster-modal').remove()
    }

    function closeModal(){
        document.querySelector('#poster-modal').classList.remove('poster-active')
        localStorage.setItem('create_poster_modal_closing', 'true');
    }
</script>