{% load static i18n %}
{% get_static_prefix as static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% blocktrans %}About Us{% endblocktrans %}| Grafo Studio</title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="Grafo Studio"/>
    <meta property="og:title" content="About Us | Grafo Studio"/>
    <meta property="og:description"
          content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world."/>
    <meta property="og:url" content="https://grafo.studio/about/">
    <meta property="og:type" content="animation studio"/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@NightSkyStudio"/>
    <meta property="og:url" content="https://grafo.studio/about/"/>
    <meta property="og:title" content="About Us | Grafo Studio"/>
    <meta property="og:description"
          content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world."/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}"/>
    <meta name="description"
          content="Grafo is a studio specializing in 2D animation. Founded by a team of like-minded people, with unlimited imagination and desire to create original content. We can take care of your business starting with an great idea, and finishing with a completed project.">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="2d, 2d animation, 2d art, 2d advertisement, advertisement, animation studio, animation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/nav.html' %}
<div class="site-blocks-cover inner-page-cover overlay"
     style="background-image: url('{{ static }}images/about/about_hero.png');" data-aos="fade"
     data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
                <h2 class="text-white h1">{% blocktrans %}About Us{% endblocktrans %}</h2>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="site-section-heading text-justify w-border mx-3 mx-lg-auto mt-5 mt-lg-0" data-aos="fade-up">
                <p class="main-block-font">{% blocktrans %}We spend everything through our 2d prism and turn reality
                    into 2D animation where no restrictions for your imagination where you can create all you want. Our
                    team includes directors, artists, and animators working like a well-oiled machine. Our priority is
                    always the quality of the work. We turn our passion into original stuff, like advertising, explainer
                    videos, TV series, music videos, and our own creative projects. We animate the world.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                <h2 class="mb-5">{% blocktrans %}Our Team{% endblocktrans %}</h2>
                <p>{% blocktrans %}Combination of a correctly directed team and right using creativity is a recipe for
                    the success
                    of any project{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/about/main_logo.png" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-8 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/about/dragon.jpg" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/tymko.gif" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/ostap.gif" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/nastya_2.gif" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/kuba.gif" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-8 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/about/2.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/dasha.gif" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/svyatik.gif" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/team_animated/vika.gif" alt="Image" class="img-fluid">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section" style="padding-top: 0">

    <div class="partners ">
        <h3 class="">{% blocktrans %}THEY CHOOSE US{% endblocktrans %}</h3>
        <div class="partners-grid">
            {% for item in partners %}
                <div class="partners-grid-wraper">
                    <a href="{{ item.link }}">
                        <img class="partners-grid-item" src="{{ item.image.url }}" alt="">
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

</div>

{% include 'includes/footer.html' %}
{% include 'includes/footer_links.html' %}
{% include 'includes/poster_modal.html' %}
</body>
</html>