{% load static %}
{% get_static_prefix as static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/head_links.html' %}
</head>
<body >
{% include 'includes/nav.html' %}

{% if success %}
    <div class="alert-success">Thank you for writing us. We will contact you as soon as possible</div>
{% endif %}
{% if fail %}
    <div class="alert-fail">Invalid reCAPTCHA. Please try again.</div>
{% endif %}

<section class="margin-after-header-small">
    <div class="contact-container" style="">
        <div>
            <iframe src="https://player.vimeo.com/video/411418090?background=1"
                    class="video-contact" frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <div class="contact-grid" style="/*background-image: url({% static 'img/index/1.jpg' %})*/ ">
            <div class="contact-details text-center">
                <h2 class="text-center section-intro__subtitle bottom-border align-items-center fs-2">Company
                    details</h2>
                <ul>
                    <li>Email: <a class="link-pr" href="mailto:info@dark-render.com">info@createanimation.co</a></li>
                    <li>Location: <a class="link-pr" href="https://bit.ly/2kzNn36" target="_blank">Lviv. Ukraine</a>
                    </li>
                    <li>Number(WhatsApp): <a class="link-pr" target="_blank"
                                             href="https://api.whatsapp.com/send?phone=380731330759">+38
                        (073) 133 07 59</a></li>
                    <li>WORKING HOURS:
                        <br>Monday-Friday 11:00 – 18:30
                    </li>
                </ul>
                <ul class="social-icons mt-2 mt-sm-0">
                    <li><a href="https://www.instagram.com/darkrender.studio/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.behance.net/darkrender" target="_blank"><i class="fab fa-behance"></i></a>
                    </li>
                    <li><a href="https://api.whatsapp.com/send?phone=380731330759" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
            <div class="contact-grid-form">
                <h2 class="text-center section-intro__subtitle bottom-border align-items-center fs-2">Or contact us
                    right now</h2>
                <span style="text-transform: none;" class="text-white d-block text-center section-intro__title d-block">YES, we'd like to direct a commercial for you.
Feel free to drop us a line anytime.</span>
                <form method="post">

                    {% csrf_token %}
                    <div class="input-grid">
                        <div class="input-group">
                            <label class="full-label required" for="first_name">First Name</label>
                            <input required name="first_name" id="first_name" type="text">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="last_name">Last Name</label>
                            <input required name="last_name" id="last_name" type="text">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="email">E-mail</label>
                            <input required name="email" id="email" type="email">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="whatsapp">WhatsApp</label>
                            <input required name="whatsapp" id="whatsapp" type="text">
                        </div>
                    </div>
                    <label class="full-label required" for="message">Your message here</label>
                    <textarea required rows="5" name="message" id="message"
                              type="text"></textarea><br>
                    {#                    <div class="g-recaptcha " data-theme="dark" data-size="normal"#}
                    {#                         data-sitekey="6Ldtld4UAAAAABSsQGhhzEzz012np4OeVA19S-QU"></div>#}
                    <button class="mt-3  btn btn-contact " type="submit" style="padding: 0.5em 3em;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'includes/footer_links.html' %}
</body>
</html>