{% load static %}
{% get_static_prefix as static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grafo Studio | 2D Animation</title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="Grafo Studio"/>
    <meta property="og:title" content="Grafo Studio"/>
    <meta property="og:description"
          content="Grafo is a studio specializing in 2D animation. Founded by a team of like-minded people, with unlimited imagination and desire to create original content. We can take care of your business starting with an great idea, and finishing with a completed project. We use our skills of storytelling, motion design, and frame by frame animation to produce a high-quality product."/>
    <meta property="og:url" content="https://grafo.studio/">
    <meta property="og:type" content="animation studio"/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@NightSkyStudio"/>
    <meta property="og:url" content="https://grafo.studio/"/>
    <meta property="og:title" content="Grafo Studio"/>
    <meta property="og:description"
          content="Grafo is a studio specializing in 2D animation. Founded by a team of like-minded people, with unlimited imagination and desire to create original content. We can take care of your business starting with an great idea, and finishing with a completed project. We use our skills of storytelling, motion design, and frame by frame animation to produce a high-quality product."/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}"/>
    <meta name="description"
          content="Grafo is a studio specializing in 2D animation. Founded by a team of like-minded people, with unlimited imagination and desire to create original content. We can take care of your business starting with an great idea, and finishing with a completed project.">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="2d, 2d animation, 2d art, 2d advertisement, advertisement, animation studio, animation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/head_links.html' %}
    <style>

    </style>
</head>
<body>
{% include 'includes/navbar.html' %}

<div class="" id="main-content-wrapper">
    <div class="hero-index">
        <div class="hero-video-container video-hero" data-vide-bg="{{ static }}video/hero.mp4"
             data-vide-options="loop: true, muted: true, position: 50% 50%, posterType: 'jpg', resizing: true"
             style="opacity: 0.6;">
        </div>
        <div class="site-blocks-cover overlay-main"
             data-aos="fade"
             data-stellar-background-ratio="0.5" data-aos="fade">
            {#        <script src="https://player.vimeo.com/api/player.js"></script>#}
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="400">
                        <img src="{{ static }}images/create_white.svg" alt="" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nav-anchor"></div>
    <div class="site-section">

        <div class="container">

            <div class="row">
                <div class="site-section-heading text-justify mb-2 w-border mx-3 mx-lg-auto mt-5 mt-lg-0"
                     data-aos="fade-up">
                    <p class="main-block-font">{% blocktrans %}Grafo is a studio specializing in 2D animation.
                        Founded by a team of like-minded people, with unlimited imagination and desire to create
                        original content. We can take care of your business starting with an great idea, and finishing
                        with a completed project. We use our skills of storytelling, motion design, and frame by frame
                        animation to produce a high-quality product.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="" data-aos="fade-up">
            <div class="row" style="width: 100%;">
                <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                    <h2 class="mb-5">{% blocktrans %}Our Works{% endblocktrans %}</h2>
                    <p>{% blocktrans %}We will approach your video using all our creativity. Making things original,
                        effective, and
                        interesting to watch.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="row mx-lg-5 mx-md-5 mx-sm-1 ml-0 mr-0" style="">
                {% for project in projects %}
                    <a target="_blank" href="{% url 'work' project.slug %}"
                       class="col-md-6 col-lg-{% cycle '7' '5' '3' '6' '3' '7' '5' as project_size %} mb-5 mb-lg-5">
                        <div class="team-member">

                            <img src="{{ project.image.url }}" alt="Image" class="img-fluid" loading="lazy">

                            <div class="text center align-center">

                                <h2 class="mb-2 font-weight-light h4">{{ project.title }}</h2>
                                <p class="mb-4">{{ project.description_short }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <div class=" col-lg-{% cycle project_size %} mb-5 mb-lg-5">
                    <div class="more-button">

                        <div class="text">
                            <h2 class="mb-2 font-weight-bold fs2"><a href="{% url 'works' %}">{% blocktrans %}MORE
                                &blacktriangleright;{% endblocktrans %}</a></h2>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                    <h2 class="mb-5">{% blocktrans %}What we do{% endblocktrans %}</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 mb-5 mb-lg-5">
                    <a class="services-index__link" href="{% url 'services' %}">
                        <div class="pricing-video-container">
                            <video class="inline-price-video" autoplay muted loop playsinline webkit-playsinline>
                                <source src="{% static 'video/pricing_video.mp4' %}" type="video/mp4">
                            </video>
                            <div class="pricing-video-overlay">
                                <div class="pricing-video-overlay-text">
                                    <span class="pricing-title">{% blocktrans %}Illustration{% endblocktrans %}</span>
                                    {#                                <span class="pricing-price per-second-after">100$ per second</span>#}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-lg-4 mb-5 mb-lg-5">
                    <a class="services-index__link" href="{% url 'services' %}">
                        <div class="pricing-video-container">
                            <video class="inline-price-video" autoplay muted loop playsinline webkit-playsinline>
                                <source src="{% static 'video/pricing_motion_video.mp4' %}" type="video/mp4">
                            </video>
                            <div class="pricing-video-overlay">
                                <div class="pricing-video-overlay-text">
                                    <span class="pricing-title">{% blocktrans %}Animation{% endblocktrans %}</span>
                                    {#                                <span class="pricing-price">50$ per second</span>#}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-4 mb-5 mb-lg-5">
                    <a class="services-index__link" href="{% url 'services' %}">
                        <div class="pricing-video-container">
                            <video class="inline-price-video" autoplay muted loop playsinline webkit-playsinline>
                                <source src="{% static 'video/pricing_video.mp4' %}" type="video/mp4">
                            </video>
                            <div class="pricing-video-overlay">
                                <div class="pricing-video-overlay-text">
                                    <span class="pricing-title">{% blocktrans %}Post
                                        Production{% endblocktrans %}</span>
                                    {#                                <span class="pricing-price per-second-after">100$ per second</span>#}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="site-blocks-cover inner-page-cover subscribe"
         style="background-image: url({{ static }}images/index/grafo_logo-min.gif);"
         data-aos="fade" data-stellar-background-ratio="0.5">
    </div>

    <div style="padding-bottom: 2rem" class="site-section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                    <h2 class="mb-5">{% blocktrans %}Our Team{% endblocktrans %}</h2>
                    <p>{% blocktrans %}Combination of a correctly directed team and right using creativity is a recipe
                        for the
                        success
                        of any project{% endblocktrans %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/tymko.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Tymko{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}Senior
                                Animator{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/ostap.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Ostap{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}Creative
                                Director{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/nastya_2.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Nastia{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}Motion
                                Designer{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/kuba.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Yakub{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}3D
                                Animator{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/dasha.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Dashka{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}
                                Illustrator{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/svyatik.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Svyatik{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}Business Development
                                Manager{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                    <div class="team-member">
                        <img src="{{ static }}images/team_animated/vika.gif" alt="Image" class="img-fluid"
                             loading="lazy">
                        <div class="text">

                            <h2 class="mb-2 font-weight-light h4">{% blocktrans %}Vicky{% endblocktrans %}</h2>
                            <span class="d-block mb-2 text-white-opacity-05">{% blocktrans %}Junior Motion
                                Designer{% endblocktrans %}</span>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-8 mb-5 mb-lg-5">
                    <div class="more-button">

                        <div class="text">
                            <h2 class="mb-2 font-weight-bold"><a href="{% url 'about' %}">{% blocktrans %}about
                                us{% endblocktrans %}</a></h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="partners">
            <h3 class="">{% blocktrans %}THEY CHOOSE US{% endblocktrans %}</h3>
            <div class="partners-grid">
                {% for item in partners %}
                    <div class="partners-grid-wraper">
                        <a target="_blank" href="{{ item.link }}">
                            <img class="partners-grid-item" src="{{ item.image.url }}" alt="{{ item.name }}"
                                 loading="lazy">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% include 'includes/footer.html' %}
{% include 'includes/footer_links.html' %}
{% include 'includes/poster_modal.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    let video = document.querySelector('.video-hero');
    window.addEventListener('scroll', function () {
        video.style.opacity = 0.9 + window.scrollY / -1000;
    })
</script>

</body>
</html>