{% load static i18n %}
{% get_static_prefix as static %}
{% load static i18n %}
{% get_static_prefix as static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{ current_language.code }}">
<head>
    <title>{% blocktrans %}Our Services | Creative studio 2D animation Grafo Studio{% endblocktrans %}</title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="Grafo Studio"/>
    <meta property="og:title" content="Services | Grafo Studio"/>
    <meta property="og:description"
          content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world."/>
    <meta property="og:url" content="https://grafo.studio/services/">
    <meta property="og:type" content="animation studio"/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@NightSkyStudio"/>
    <meta property="og:url" content="https://grafo.studio/services/"/>
    <meta property="og:title" content="About Us | Grafo Studio"/>
    <meta property="og:description"
          content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world."/>
    <meta property="og:image" content="{% static 'images/about/main_logo.png' %}"/>
    <meta name="description"
          content="{% blocktrans %}Services of a creative studio 2D animation ⏩ Creation of advertising videos, video infographics, motion design ⚡ To order, call ☎️ (068) 10 40 040 | Grafo Studio{% endblocktrans %}">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="2d, 2d animation, 2d art, 2d advertisement, advertisement, animation studio, animation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://grafo.studio/{{ current_language.code }}/services/"/>
    <link rel="alternate" hreflang="uk" href="https://grafo.studio/uk/services/"/>
    <link rel="alternate" hreflang="ru" href="https://grafo.studio/ru/services/"/>
    <link rel="alternate" hreflang="en" href="https://grafo.studio/en/services/"/>
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/nav.html' %}
<div class="site-blocks-cover inner-page-cover "
     style="background-image: url('{{ static }}images/index/character_grafo.gif');" data-aos="fade"
     data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
            </div>
        </div>
    </div>
</div>
<div class="site-section pb-0">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                <h2 class="mb-5">{% blocktrans %}Illustration{% endblocktrans %}</h2>
                <p>{% blocktrans %}Any information is perceived better when it's packed with cool
                    illustrations.{% endblocktrans %}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/services/illustration.jpeg" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 align-self-center">
                <div class="team-member-index">

                    <img src="{{ static }}images/index/illustration.gif" alt="Image" class="img-fluid">

                </div>
            </div>

            <div class="col-md-6 col-lg-8 mb-5 mb-lg-5 align-self-center text-left">
                <ul class="services_list">
                    <li>{% blocktrans %}Storyboards{% endblocktrans %}</li>
                    <li>{% blocktrans %}Charters Design{% endblocktrans %}</li>
                    <li>{% blocktrans %}Background Design{% endblocktrans %}</li>
                    <li>{% blocktrans %}Logo Design{% endblocktrans %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-section  pb-0">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                <h2 class="mb-5">{% blocktrans %}Animation{% endblocktrans %}</h2>
                <p>{% blocktrans %}Animation gives you a perfect opportunity to make your product distinct in the thick
                    network of communication streams.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/services/animation.jpeg" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-8 mb-5 mb-lg-5 align-self-center text-right">
                <ul class="services_list">
                    <li>{% blocktrans %}Explainer Videos{% endblocktrans %}</li>
                    <li>{% blocktrans %}Animated commercials{% endblocktrans %}</li>
                    <li>{% blocktrans %}Promo Video{% endblocktrans %}</li>
                    <li>{% blocktrans %}Music Videos{% endblocktrans %}</li>
                    <li>{% blocktrans %}Logo Animation{% endblocktrans %}</li>
                    <li>{% blocktrans %}Infographics{% endblocktrans %}</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 align-self-center">
                <div class="team-member-index">

                    <img src="{{ static }}images/index/animation.gif" alt="Image" class="img-fluid">

                </div>
            </div>


        </div>
    </div>
</div>
<div class="site-section  pb-0">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                <h2 class="mb-5">{% blocktrans %}Post Production{% endblocktrans %}</h2>
                <p>{% blocktrans %}We stay connected with you to provide the in-time release of your
                    video.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 mb-5 mb-lg-5">
                <div class="team-member-index">

                    <img src="{{ static }}images/services/post-prod.jpeg" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 align-self-center">
                <div class="team-member-index">

                    <img src="{{ static }}images/index/post-prod.gif" alt="Image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6 col-lg-8 mb-5 mb-lg-5 align-self-center text-left">
                <ul class="services_list">
                    <li>{% blocktrans %}Sound Design{% endblocktrans %}</li>
                    <li>{% blocktrans %}Voice Over{% endblocktrans %}</li>
                    <li>{% blocktrans %}Compositing{% endblocktrans %}</li>

                </ul>
            </div>

        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% include 'includes/footer_links.html' %}
</body>
</html>