{% load static i18n %}
{% get_static_prefix as static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{ current_language.code }}">
<head>
    <title>{{ project.meta_title }}</title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="Grafo Studio"/>
    <meta property="og:title" content="{{ project.title }} | Grafo Studio"/>
    <meta property="og:description"
          content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world."/>
    <meta property="og:url" content="https://grafo.studio/{{ project.slug }}">
    <meta property="og:type" content="animation studio"/>
    <meta property="og:image" content="{{ project.image.url }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@nss.team" />
<meta property="og:url" content="https://grafo.studio/{{ project.slug }}" />
<meta property="og:title" content="{{ project.title }} | Create Animation" />
<meta property="og:description" content="We believe that when life gives you lemons - make lemonade. So we gathered all the ripest lemons together to create the best team ever and to share the sweetest lemonade we are making all around the world." />
<meta property="og:image" content="{{ project.image.url }}" />
    <meta name="description"
          content="{{ project.meta_description }}">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="2d, 2d animation, 2d art, 2d advertisement, advertisement, animation studio, animation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://grafo.studio/{{ current_language.code }}/work/{{ project.slug }}/" />
    <link rel="alternate" hreflang="uk" href="https://grafo.studio/uk/work/{{ project.slug }}/" />
    <link rel="alternate" hreflang="ru" href="https://grafo.studio/ru/work/{{ project.slug }}/" />
    <link rel="alternate" hreflang="en" href="https://grafo.studio/en/work/{{ project.slug }}/" />
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/nav.html' %}


<div class="site-section">
    <div class="container-work mt-5">
         <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;"
                    src="{{ project.video_url}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="row align-items-center mt-5 justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white " style=" font-size: 4rem">{{ project.title }}</h1>
                <p>{{ project.description_short }}</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section__work">
    <div class="container-work">
            <div class="site-section-heading text-justify w-border mx-auto project-tiny" data-aos="fade-up">
                <p>{{ project.description|safe }}</p>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}
{% include 'includes/footer_links.html' %}
</body>
</html>