{% load static %}
{% get_static_prefix as static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/index_navbar.html' %}
<div class="site-blocks-cover inner-page-cover overlay"
     style="background-image: url('{{ static }}images/hero_bg_2.jpg');"
     data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 text-center" data-aos="fade-up" data-aos-delay="400">

                <h2 class="text-white h1">Our Works</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>

<div id="nav-anchor" class="site-section position-relative">
    <div class="works-filter-block">
        <input checked type="radio" id="radio-filter-all" name="radio-filter">
        <label onclick="isoFilter(`:not([data-iso-all='ignore'])`)" class="radio-filter-label"
               for="radio-filter-all">ALL</label>
        <input type="radio" id="radio-filter-tv" name="radio-filter">
        <label onclick="isoFilter(`[data-iso-type='tv']`)" class="radio-filter-label" for="radio-filter-tv">TV</label>
        <input type="radio" id="radio-filter-creative" name="radio-filter">
        <label onclick="isoFilter(`[data-iso-type='com']`)" class="radio-filter-label" for="radio-filter-creative">CREATIVE</label>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row iso-container">

            <div data-iso-type="tv" data-iso-all="ignore" class="iso-item blank-work col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="blank">
                    <div class="p-2 text">
                        <p class="text-uppercase text-white h1">tv</p>
                    </div>
                </div>
            </div>

            <div data-iso-type="com" data-iso-all="ignore" class="iso-item blank-work col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="blank">
                    <div class="p-2 text">
                        <p class="text-uppercase text-white h1">creative</p>
                    </div>
                </div>
            </div>

            <div data-iso-type="tv" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_1.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>

            <div data-iso-type="tv" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_2.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>

            <div data-iso-type="com" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_3.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Philip Martin</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>

            <div data-iso-type="tv" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_4.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Steven Ericson</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>

            <div data-iso-type="com" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_5.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Nathan Dumlao</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>

            <div data-iso-type="tv" class="iso-item col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                    <img src="{{ static }}images/person_6.jpg" alt="Image" class="img-fluid">

                    <div class="text">

                        <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                        <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit
                            nemo.</p>
                        <p>
                            <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% include 'includes/footer_links.html' %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script>
    let $grid = $('.iso-container').isotope({
        // options
        itemSelector: '.iso-item',
        layoutMode: 'fitRows'
    });

    $grid.isotope({filter: `:not([data-iso-all='ignore'])`});

    function isoFilter(selector) {
        $grid.isotope({filter: selector});
    }
</script>
</body>
</html>